.btn {
  background-color: #585076;
  width: 140px;
  height: 37px;
  margin: 10px;
  border-radius: 5px;
  color: #d4d2db;
  border: 1px solid white;
}

.list {
  list-style-type: none;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

@media (max-width: 768px) {
  .btn {
    background-color: #585076;
    width: 40px;
    height: 30px;
    margin: 10px;
    border-radius: 4px;
    color: #d4d2db;
    border: 1px solid white;
  }
}
